
* {
 margin: 0;
}
body {
   font-size: 16px;
   font-family: 'Noto Serif', sans-serif;
   background-color: #192812;
   width: 1440px; 
}
.container {
 width: 70%;
 margin: 0 auto;
  background-color: #C5D2FC;
}
nav {
   display: flex;
   justify-content: space-evenly;
   margin: 50px;
 
   
}
nav a{
width: 15%;
   display: inline-block;
   padding: 10px 20px 10px 20px;
   margin: 30px;
  color: black;
  text-align: center;
   background-color: #99ACD2;
   border-radius: 30px 10px;
   text-decoration: none;
   

}

